Disable Push from server might help reducing data downloads

Regarding this documentation
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Save-Data
> Disabling HTTP/2 Server Push (RFC 7540, section 8.2: Server Push) might be desirable too for reducing data downloads.

The side effect would be that background update from some website may not work, the user might need to refresh the content.

I wonder the data saving on website such as facebook or gmail.
It can be measure first before adding this option.
In Firefox the relevant option is `dom.push.enabled`

Thanks @mhandb 
I will look at http2 server push, asap. I never used them, I have to document before.
And I'm wondering, if we can identify a request from server push and/or disable them from an extension. 

Yes, It worths to learn more about this. 
I think I was confused between *HTTP/2 server push* and the *Web Push API*.
I do not know if they are related .
- The HTTP/2 server push is a way to send several response from the server from a single request from the client. It is a good way to speedup the loading of different assets of a webpage for instance.
- The Web Push API is a way to receive messages from the server even if the application is in background, using a service worker.

I do not know why mozilla states that disabling HTTP/2 Server Push can save data.
I wonder if the Save-Data header is handled properly in a HTTP/2 push context.
